<header>
	<h1>notebook</h1>
</header>

<section>
	<p>I want to make a notebook for all the things I look at online. It might just be a link, or a comment, or a response to news.</p>
	<p>I also want to add pictures of the work that I'm doing: food, art, coding related.</p>

	<p><%= link_to 'list of notes', 'notes' %></p>

	<p><%= link_to 'make new note', 'notes/new' %></p>

	<p>search</p>


</section>

<footer>
	<p>Lynn Cook : 2013</p>
</footer>