/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	font-family: monospace;
	background: #ccc6c3;
	margin: 2%;	
}

header, section, footer {
	background: #ffffff;
	padding: 1% 2%;
	color: #ff3f33;
	margin-left: 20%;
	margin-right: 20%;
}

ul {
	list-style: none;
	font-style: bold;
}

p, li {
	color: #003366;
}

li a {
	text-decoration: none;
	color: #ff3333;
}
li a:hover {
	background: yellow;
}